<h1> <%= @patient.name %></h1>

<% @patient.appointments.each do |appointment| %>
  <p><%= appointment.appointment_datetime.strftime('%B %d, %Y') %> at <%=appointment.appointment_datetime.strftime('%k:%M')  %></p>
  <p> <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
<% end %>
